<!-- About Section -->
    <!-- <section id="about"> -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why are we doing this?</h2>
                    <!-- <h3 class="section-subheading text-muted"> -->
                        <p style="font-size: 18px; text-align: center; margin-top: 30px;">
                            <span style="font-style: italic;">It can be intimidating on the stage, without a script, especially if you are a beginner.</span>
                            <br>
                            We have been there. We get it! And <span style="font-weight: bold;">that's exactly what we want to change.</span>
                        </p>
                        
                        <hr style="width: 80%; margin: 30px auto;">
                        
                        <p style="font-size: 18px;">
                            <strong style="font-size: 24px;">All in</strong>, as the name suggests is a place for anyone and everyone. Whether you're <i><strong>new, pro, advanced or god</strong></i>, we don't judge or call people by these labels. 
                            We are building this space with the intention of introducing improv and its impact on the lives of as many people as we can. 
                            <span style="font-weight: bold;">It is a result of our personal journeys of learning this art form and also from it.</span>
                        </p>
                        
                        <p style="font-size: 18px; margin-top: 30px;">
                            Our agenda is simple: Every Saturday we come together, learn, surprise ourselves and have fun - all-in. 
                            <br>
                            Rest of the story? We'll tell you at the jam.
                        </p>
                    <!-- </h3> -->
                    
                    
                    <!-- <h3 class="section-subheading text-muted"> -->
                        
                    <!-- It can be intimidating on the stage, without a script, especially if you are a beginner. We have been there. We get it! 

                    <strong>And that’s exactly what we want to change. </strong>

                    <br><br>
                    
                    All in, as the name suggests is a place for anyone and everyone. New, pro, advanced, god - we don’t judge or call people by these labels. 
                    
                    We are building this space with the intention of introducing improv and its impact on the lives of as many people as we can. It is a result of our personal journeys of learning this art form and also from it. 
                    
                    Our agenda is simple, every Saturday we come together, learn, surprise ourselves and have fun - all-in.
                    
                    Rest of the story? We’ll tell you at the jam. -->


                    <!-- </h3> -->
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </section>