<!-- Portfolio Grid Section -->
    <!-- <section id="portfolio" class="bg-light-gray"> -->
        <section id="gallery" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Gallery</h2>
                        <h3 class="section-subheading text-muted">Snippets from previous jams</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                            </div>
                            <img src="img/portfolio/img1.png" class="img-responsive img-centered" alt="">
                        </a>
                        <p><br><br></p>
                    </div>

                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                            </div>
                            <img src="img/portfolio/img2.png" class="img-responsive img-centered" alt="">
                        </a>
                        <p><br><br></p>
                    </div>
                
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                            </div>
                            <img src="img/portfolio/img3.png" class="img-responsive img-centered" alt="">
                        </a>
                        <p><br><br></p>
                    </div>

                    <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                            </div>
                            <img src="img/portfolio/img4.png" class="img-responsive img-centered" alt="">
                        </a>
                        <p><br><br></p>
                    </div>

                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                            </div>
                            <img src="img/portfolio/img5.png" class="img-responsive img-centered" alt="">
                        </a>
                        <p><br><br></p>
                    </div>
                
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                            </div>
                            <img src="img/portfolio/img6.png" class="img-responsive img-centered" alt="">
                        </a>
                        <p><br><br></p>
                    </div> -->
            
            
                </div>
            </div>
        </section>
    