<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #333;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Why are we doing this?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Meet our Hosts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Schedule</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#testimonials">Testimonials</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#gallery">Gallery</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <img id="logo" src="logo1.png" alt="logo" width="200" height="200">
                <p><br></p>
                <!-- <div class="intro-lead-in">Improv for all. Every Saturday!</div> -->
                <div class="intro-heading">Improv for all, <br> Every Saturday!</div>
                <!-- <h2>Upcoming Jam: 28 Oct</h2> -->
                <div id="upcoming-jam" class="intro-lead-in">Upcoming Jam: 28 Oct 4:30 pm</div>
                <!-- <p><br></p> -->
                <a href="#schedule" class="page-scroll btn btn-xl">Register here &rarr;</a>
            </div>
        </div>

        <script>
            function getNextSaturdayFormatted() {
                const today = new Date();

                const manualOverride = 'November 18, 2023';

                if (manualOverride !== '') {
                    return manualOverride;
                }
                
                // Find the next Saturday (6 represents Saturday)
                const daysUntilNextSaturday = 6 - today.getDay();
                const nextSaturday = new Date(today);
                nextSaturday.setDate(today.getDate() + daysUntilNextSaturday);
        
                const options = { year: 'numeric', month: 'long', day: 'numeric' };
                const formattedDate = nextSaturday.toLocaleDateString(undefined, options);
        
                const dateParts = formattedDate.split(' ');
                const formattedWithComma = `${dateParts[1]} ${dateParts[0]}, ${dateParts[2]}`;
        
                return formattedWithComma;
            }
        
            const nextSaturdayFormatted = getNextSaturdayFormatted();
            document.getElementById('upcoming-jam').textContent = `Upcoming Jam: ${nextSaturdayFormatted} 4:30 pm`;
        </script>
        
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

