<!-- Services Section -->
    <!-- <section id="services"> -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <br><br>
                    <!-- <h3 class="section-subheading text-muted">Here's a list of upcoming jams</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    
                    <img src="img/dates/Oct28.png" alt="Your Image Description" style="border-radius: 50%; overflow: hidden; width: 100px; height: 100px;" />
                    <!-- <h4 class="service-heading">Oct 28</h4> -->
                    <p class="text-muted">
                        <br>
                        <strong>Host: </strong> Praveen, Yash & Akhil <br><br>
                        <strong>Venue: </strong> MyBoTree, Koramangala <br><br>
                        <a class="btn btn-primary" href="#" role="button">Register here &rarr;</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="img/dates/Nov4.png" alt="Your Image Description" style="border-radius: 50%; overflow: hidden; width: 100px; height: 100px;" />
                    <!-- <h4 class="service-heading">Nov 4</h4> -->
                    <p class="text-muted">
                        <br>
                        <strong>Host: </strong> Yash Bhotica <br><br>
                        <strong>Venue: </strong> Theaternama, Koramangala <br><br>
                        <a class="btn btn-primary" href="#" role="button">Register here &rarr;</a>
                    </p>
                </div>
                <div class="col-md-3">
                    
                    <img src="img/dates/Nov18.png" alt="Your Image Description" style="border-radius: 50%; overflow: hidden; width: 100px; height: 100px;" />
                    

                    <!-- <h4 class="service-heading">Nov 18</h4> -->
                    <p class="text-muted">
                        <br>
                        <strong>Host: </strong> Praveen Chavali <br><br>
                        <strong>Venue: </strong> MyBoTree, Koramangala <br><br>
                        Registration Link: TBD
                    </p>
                </div>
                <div class="col-md-3">
                    
                    <img src="img/dates/Nov25.png" alt="Your Image Description" style="border-radius: 50%; overflow: hidden; width: 100px; height: 100px;" />

                    <!-- <h4 class="service-heading">Nov 25</h4> -->
                    <p class="text-muted">
                        <br>

                        <strong>Host: </strong> Praveen Chavali <br><br>
                        <strong>Venue: </strong> MyBoTree, Koramangala <br><br>
                        Registration Link: TBD
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">We have discounts on bulk bookings. 
                        <a href="https://tally.so/r/mBp9AN" target="_blank">Please click here to know more</a>
                    </h3>
                </div>
            </div>
        </div>
    </section>