<!-- Services Section -->
    <!-- <section id="services"> -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <br><br>
                    <!-- <h3 class="section-subheading text-muted">Here's a list of upcoming jams</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2">
                    <img src="img/dates/Mar02.png" alt="Event on Feb 3" style="border-radius: 50%; overflow: hidden; width: 100px; height: 100px;" />
                    <p class="text-muted">
                        <br>
                        <strong>Host: </strong> Akhil Harikumar<br><br>
                        <strong>Venue: </strong> MyBoTree, Koramangala <br><br>
                        <strong>Time: </strong> 4:30 pm to 6:30 pm <br><br>
                        <a class="btn btn-primary" href="https://tally.so/r/mBp9AN" role="button">Register here</a>
                    </p>
                </div>
                <div class="col-md-2">
                    <img src="img/dates/Mar09.png" alt="Event on Feb 10" style="border-radius: 50%; overflow: hidden; width: 100px; height: 100px;" />
                    <p class="text-muted">
                        <br>
                        <strong>Host: </strong> Praveen Chavali <br><br>
                        <strong>Venue: </strong> MyBoTree, Koramangala <br><br>
                        <strong>Time: </strong> 4:30 pm to 6:30 pm <br><br>
                        <a class="btn btn-primary" href="https://tally.so/r/mBp9AN" role="button">Register here</a>
                    </p>
                </div>
                <div class="col-md-2">
                    <img src="img/dates/Mar16.png" alt="Event on Feb 17" style="border-radius: 50%; overflow: hidden; width: 100px; height: 100px;" />
                    <p class="text-muted">
                        <br>
                        <strong>Host: </strong> Yash Bhotica <br><br>
                        <strong>Venue: </strong> MyBoTree, Koramangala <br><br>
                        <strong>Time: </strong> 4:30 pm to 6:30 pm <br><br>
                        <a class="btn btn-primary" href="https://tally.so/r/mBp9AN" role="button">Register here</a>
                    </p>
                </div>
                <div class="col-md-2">
                    <img src="img/dates/Mar23.png" alt="Event on Feb 24" style="border-radius: 50%; overflow: hidden; width: 100px; height: 100px;" />
                    <p class="text-muted">
                        <br>
                        <strong>Host: </strong> TBD <br><br>
                        <strong>Venue: </strong> MyBoTree, Koramangala <br><br>
                        <strong>Time: </strong> 4:30 pm to 6:30 pm <br><br>
                        <a class="btn btn-primary" href="https://tally.so/r/mBp9AN" role="button">Register here</a>
                    </p>
                </div>
                <div class="col-md-2">
                    <img src="img/dates/Mar30.png" alt="Event on Feb 24" style="border-radius: 50%; overflow: hidden; width: 100px; height: 100px;" />
                    <p class="text-muted">
                        <br>
                        <strong>Host: </strong> Praveen Chavali <br><br>
                        <strong>Venue: </strong> MyBoTree, Koramangala <br><br>
                        <strong>Time: </strong> 4:30 pm to 6:30 pm <br><br>
                        <a class="btn btn-primary" href="https://tally.so/r/mBp9AN" role="button">Register here</a>
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted ">We have discounts on bulk bookings. 
                        <a href="https://tally.so/r/mBp9AN" target="_blank" style="color: #0307fe;">Please click here to know more</a>
                    </h3>
                </div>
            </div>
        </div>
    </section>